@primary-color: #db8b22; // primary color for all components
@link-color: #ff6118; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

html,
body {
  background-color: @layout-body-background;
  --primary-color: @primary-color;
  --input-color: @input-color;
  --input-hover-border-color: @input-hover-border-color;
  --box-shadow-color: @box-shadow-color;
  --cart-box-color: @box-shadow-color;
  font-family: 'Gotham-Book';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-btn-primary {
  color: @black;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  &:hover {
    background-color: var(--input-hover-border-color);
    border-color: var(--input-hover-border-color);
    color: @black;
  }
  &:focus {
    background-color: var(--input-hover-border-color);
    border-color: var(--input-hover-border-color);
  }
  &[disabled] {
    background-color: var(--input-hover-border-color);
    border-color: var(--input-hover-border-color);
    opacity: 0.5;
    &:hover {
      background-color: var(--input-hover-border-color);
      border-color: var(--input-hover-border-color);
    }
  }
}
